@import 'tailwindcss';

@theme {
  --font-sans:
    'Inter', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
    'Noto Color Emoji';
}

html {
  background-color: #000;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}

body {
  position: relative;
  min-height: 100%;
}

body::before {
  content: '';
  position: fixed;
  inset: 0;
  z-index: 0;
  background-image: url('/images/pattern.svg');
  background-repeat: repeat;
  background-size: 304px 304px;
  opacity: 0.15;
  filter: blur(1px);
  pointer-events: none;
}

body > * {
  position: relative;
  z-index: 1;
}
